*.class
.settings
.project
.classpath
target

# Package Files #
*.jar
*.war
*.ear
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/pharmacymanagement.iml
/api/pharmacymanagement-api.iml
/omod/pharmacymanagement-omod.iml
/.idea/workspace.xml
/.idea/openmrs-module-pharmacymanagement.iml
/.idea/vcs.xml
