body input {
	text-shadow: 0 1px 0 #FFFFFF;
}
fieldset {
	left: 0;
	font-size: small;
	border: 2px solid #c9c9c9;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	background-color: #E9F2FA;
	padding: 3px;
	margin-bottom: 5px;
	margin-top: 5px;
	/** margin-left: auto; **/
	margin-right: 20px;
}

select {
	text-transform: capitalize;
	font-size: 10px;
}

legend {
	background-color: #8FABC7;
	border: 1px solid #b9b7c0;
	padding: 2px 6px;
	font-size: small;
	font-weight: bold;
	color: #FFFFFF;
}

.capitalized {
	text-transform: capitalize;
}

/**select
{
	color:blue;
}
**/
table { /**table-layout: fixed;
	padding : 5px;**/ /***border-spacing: 3px;**/
	
}

.childtable {
	background-color: silver
}

.hiddengreenbox {
	display: none;
	width: 100px;
	padding: 3px;
	margin: 4px;
	background-color: green;
	font-weight: bold;
	color: white;
	border-style: solid;
	border-width: thin;
	cursor: pointer;
}

.pretty-hover {
	background: #fee;
	cursor: pointer;
}

.redbox {
	width:16px; 
	height:16px;
	margin:3px;
	padding:2px;
	cursor: pointer;
	font-weight: bold;
	font-size: medium;
	color: #EB99AD;
}

.greenbox {
	width: 16px;
	height: 16px;
	padding: 1px;
	margin: 4px;
	cursor: pointer;
	background-image: url("../../../images/add.gif");
	background-repeat: no-repeat;
}

.labelcell {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #3670A7;
	background-color: transparent;
	width: 220px;
}

.fieldcell {
	background-color: #F2F7FB;
	color: #000000;
	text-align: right;
	margin-right: 0px;
	padding-right: 0px;
}

.smalllabelcell {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: transparent;
	color: #3670A7;
	width: 100px;
}

.smallfieldcell {
	background-color: #F2F7FB;
	color: #000000;
	text-align: right;
}

.designation {
	width: 70%;
	/** text-align: center; **/
	font-weight: bold;
	font-style: italic;
	font-size: small;
}

.qr {
	width: 20%;
	/** text-align: center; **/
	font-style: italic;
	font-weight: bold;
	font-size: small;
}

.obs {
	width: 35;
	font-weight: bold;
	font-style: italic;
	font-size: small;
}

.del {
	width: 10%;
}

.send {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.desQnty {
	display: table;
}

div .daebox {
	background-color: #E5E5FF;
	border: 1px solid #808FF;
	/** height: 155px; **/
	overflow: auto;
	padding: 10px;
}

.daebox {
	margin-left: auto;
	margin-right: auto;
}

.adhere {
	font-size: 10px;
	text-decoration: none;
	border: 1px solid #D3D3D3;
	background: none repeat scroll 0 0 #C4BD9B;
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"
		;
	/* For IE 5.5 - 7 */
	filter: progid : DXImageTransform.Microsoft.Shadow ( Strength = 4,
		Direction = 135, Color = '#000000' );
	margin-left: auto;
	margin-right: auto;
}

#middle {
	border-left: 1px solid black;
	min-height: 600px;
	margin-bottom: 0px;
	margin-top: 0px;
}

@media print{
	.non-printable {
		display: none;
	}
}

.return td {
	border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
    font-size: 0.8em;
    margin: 0;
    padding: 3px 0 3px 5px;
}
.return thead {
	background-color: #D3DCE3;
    font-size: 0.8em;
}